---
title: Some reviews we have received
---

<div class='row'>
  <div class='col-md-3'></div>
  <div class='col-md-6'>
    <dl class='reviews'>
      {% for review in site.data.reviews %}
        <dt>
          '{{ review.quote }}'
        </dt>
        <dd>
          -- {{ review.source }}
        </dd>
        {% if forloop.rindex0 > 0 %}
          <hr />
        {% endif %}
      {% endfor %}
      </dl>
  </div>
  <div class='col-md-3'></div>
</div>

<h4 class='text-center'>
Please send us your feedback on <a href='https://twitter.com/uncookedfunk'>Twitter</a>, <a href='https://facebook.com/rawfunkmaharishi'>Facebook</a>, or via a <a href='https://github.com/rawfunkmaharishi/rawfunkmaharishi.github.io/blob/master/_data/reviews.yml'>Github pull-request</a>
</h4>
