---
title: Gigs
---

{% assign something = '' %}
{% capture nowseconds %}
  {{ 'now' | date: '%s' }}
{% endcapture %}

<div class='giglist'>
  <div class='row'>

    <div class='col-md-2'></div>
    <div class='col-md-4'>
      <h2>Upcoming</h2>
      {% for post in site.posts reversed %}
        {% capture postseconds %}{{ post.date | date: '%s' }}{% endcapture %}
        {% capture future %}{{ nowseconds | minus:postseconds }}{% endcapture %}
        {% if future < '0' %}
          {% capture something %}{{ 'true' }}{% endcapture %}
          {% include giglink.html date = post.date url = post.url title = post.title %}
        {% endif %}
      {% endfor %}
      {% if something != 'true' %}
        <div class='post'>
          <h3 class='title'>No Upcoming Gigs</h3>
        </div>
      {% endif %}
    </div>

    <div class='col-md-4 gig-archive'>
      <h2>Archive</h2>
      {% for post in site.posts %}
        {% capture postseconds %}{{ post.date | date: '%s' }}{% endcapture %}
        {% capture future %}{{ nowseconds | minus:postseconds }}{% endcapture %}
        {% if future > '0' %}
          {% include giglink.html date = post.date url = post.url title = post.title %}
        {% endif %}
      {% endfor %}
    </div>
    <div class='col-md-2'></div>
  </div>
</div>

{% include book-us.html %}
