---
layout: default
title: Raw Funk Maharishi
extra_styles: "body { background-image: url('https://www.goodfreephotos.com/albums/sky-and-clouds/above-the-sea-of-clouds.jpg'); background-position: center }"
no_header: true
no_title: true
trim_class: plain
with_nav: true
---

{% include next-gig-flash.html %}

<div class='splash center-block hidden-xs hidden-sm'>
  {% include_relative assets/images/logos/wide/banner.svg %}
</div>

<div class='splash center-block visible-xs-inline-block visible-sm-inline-block'>
  {% include_relative assets/images/logos/stacked/banner.svg %}
</div>
