---
title: Sounds
---

<p class='albumlink'>
  Check out our first album, <a href='/albums/takatsuka'>Takatsuka</a>, or enjoy these rehearsal recordings
</p>

<script src="http://connect.soundcloud.com/sdk.js"></script>
<script>
  SC.initialize({
    client_id: '66f16c68bfa3cd3aa4e824cb18e02c5a'
  });
</script>

<div class='row'>
  {% for sound in site.data.soundcloud limit:2 %}
  {% include sound-cell.html id = sound.id location = sound.location engineer = sound.engineer date = sound.date license = sound.license license_url = sound.license_url width = 6 %}
  {% endfor %}
</div>

<div class='row'>
  {% for sound in site.data.soundcloud limit:4 offset:2 %}
    {% include sound-cell.html id = sound.id location = sound.location engineer = sound.engineer date = sound.date license = sound.license license_url = sound.license_url width = 3 %}
  {% endfor %}
</div>


<div class='row'>
  {% for sound in site.data.soundcloud limit:4 offset:6 %}
    {% include sound-cell.html id = sound.id location = sound.location engineer = sound.engineer date = sound.date license = sound.license license_url = sound.license_url width = 3 %}
  {% endfor %}
</div>
