---
title: Sounds
license_these: tracks
license_version: 3.0
---

<script src="http://connect.soundcloud.com/sdk.js"></script>
<script>
  SC.initialize({
    client_id: '66f16c68bfa3cd3aa4e824cb18e02c5a'
  });
</script>

<div class='row'>
  {% include sound.html id = site.data.sounds.first.id width = 6 %}
  <div class='col-md-6'>
    <div class='row'>
      {% for sound in site.data.sounds limit:2 offset:1 %}
        {% include sound.html id = sound.id width = 6 %}
      {% endfor %}
    </div>
    <div class='row'>
      {% for sound in site.data.sounds limit:2 offset:3 %}
        {% include sound.html id = sound.id width = 6 %}
      {% endfor %}
    </div>
  </div>
</div>

<div class='row'>
  {% for sound in site.data.sounds limit:4 offset:5 %}
    {% include sound.html id = sound.id width = 3 %}
  {% endfor %}
</div>
