---
title: The Band
---

<div class='row'>
  {% for member in site.data.band %}
  <div class='col-md-4'>
    <div class='thumbnail'>
      <img src='{{member.image}}' alt='{{member.name}}' title='{{member.name}}' class='thumb'>
      <div class='caption'>
        <h3>{{member.name}}</h3>
        <h4>{{member.instrument}}</h4>
    <!--    <p>{{member.bio}}</p> -->
        {% if member.twitter %}
        <h4><a href='http://twitter.com/{{member.twitter}}'>@{{member.twitter}}</a></h4>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
