---
title: Videos
---

<div class='row'>
  {% for video in site.data.vimeo %}
    <div class='col-md-6'>
      <section class='thumbnail vimeo'>
        <div class='embed-responsive embed-responsive-16by9'>
          {% include video.html id = video.id %}
        </div>
        <dl class='dl-horizontal'>
          <dt>
            License:
          </dt>
          <dd>
            <a href='{{ video.license_url}}'>{{ site.data.licenses[video.license].short-name }}</a>
          </dd>
        </dl>
      </section>
    </div>
  {% endfor %}
</div>
