<dl class='blog-archive'>
  {% for prioritypost in site.data.priority-blosts %}
    {% for post in site.categories['blog'] %}
      {% if post.title == prioritypost %}
        {% include blost-link.html title = post.title url = post.url %}
        {% unless include.no_excerpts %}
          {% include blost-excerpt.html excerpt = post.excerpt url = post.url %}
          <hr />
        {% endunless %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% for post in site.categories['blog'] reversed %}
    {% unless site.data.priority-blosts contains post.title %}
      {% include blost-link.html title = post.title url = post.url %}
      {% unless include.no_excerpts %}
        {% include blost-excerpt.html excerpt = post.excerpt url = post.url %}
        {% if forloop.rindex0 > site.data.priority-blosts.size %}
          <hr />
        {% endif %}
      {% endunless %}
    {% endunless %}
  {% endfor %}
</dl>
