<div class='header {{ include.trim_class }}'>
  <div class='container'>
    <div class='little visible-xs-block hidden-sm hidden-md hidden-lg'>
      <div class='row'>
        <div class='col-md-4 col-md-push-8'>
          {% include navigation.html %}
        </div>

        <div class='col-md-8 col-md-pull-4'>
          <a href='/'>
            <img src='/assets/images/logos/wide/banner.png' alt='Raw Funk Maharishi' class='logo'/>
          </a>
        </div>

      </div>
    </div>

    <div class='medium visible-sm-inline hidden-xs hidden-md hidden-lg'>
      <div class='col-md-4 col-md-push-8'>
        {% include navigation.html %}
      </div>

      <div class='col-md-8 col-md-pull-4'>
        <a href='/'>
          <img src='/assets/images/logos/wide/banner.png' alt='Raw Funk Maharishi' class='little-logo'/>
        </a>
      </div>
    </div>

    <div class='large visible-md-inline visible-lg-inline hidden-xs hidden-sm'>
      <div class='col-md-4 col-md-push-8'>
        {% include navigation.html %}
      </div>

      <div class='col-md-8 col-md-pull-4'>
        <a href='/'>
          <img src='/assets/images/logos/wide/banner.png' alt='Raw Funk Maharishi' class='logo'/>
        </a>
      </div>
    </div>
  </div>
</div>
