<nav class='navbar navbar-default' role='navigation'>
  {% include mobile-nav.html %}
  <div class='collapse navbar-collapse' id='navbar-collapse'>

    <!-- mobile -->
    <ul class='nav hidden-md hidden-lg mobile' role='tablist'>
      {% for item in site.data.navigation %}
        {% include nav-item.html title = item.title path = item.path current = page.url %}
      {% endfor %}
    </ul>

    <!-- desktop -->
    <ul class='nav nav-stacked nav-pills pull-right hidden-xs hidden-sm' role='tablist'>
      {% for item in site.data.navigation %}
        {% include nav-item.html title = item.title path = item.path current = page.url %}
      {% endfor %}
    </ul>
  </div>
</nav>
