<nav class='navbar navbar-default' role='navigation'>
  <div class="container-fluid">
    {% include mobile-nav.html %}
    <div class='collapse navbar-collapse' id='navbar-collapse'>
      <div class="container">
        <ul class='nav nav-pills' role='tablist'>
          {% for item in site.data.navigation %}
            {% include nav-item.html title = item.title path = item.path current = page.url %}
          {% endfor %}
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
