<nav class='navbar navbar-default' role='navigation'>
    {% include mobile-nav.html %}

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class='collapse navbar-collapse transparent' id='navbar-collapse'>
      <ul class='nav nav-stacked pull-right' role='tablist'>
        {% for item in site.data.navigation %}
          {% include nav-item.html title = item.title path = item.path current = page.url %}
        {% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
