<script>
gigs = [
{% for gig in site.categories.gigs %}
  {
    "date": "{{ gig.date }}",
    "time": "{{ gig.time }}",
    "title": "{{ gig.title }}",
    "url": "{{ gig.url }}"
  },
{% endfor %}
]

now = new Date().getTime()
next = null

$(gigs).each(function(index, gig) {
  dt = moment(gig.date).format('YYYY-MM-DD') + 'T' + moment(gig.time, 'HH:mm').format('HH:mm')
  then = new Date(dt).getTime()
  // a gig expires 2 hours after its start time
  if((then + (120 * 60 * 1000)) > now) {
    next = gig
  }
})

if(next) {
  d = '<div class="panel panel-info next-gig">'
  d += '<div class="panel-body">'
  d += '<div class="throbbing-gristle"></div>'
  d += 'Next gig: <a href="' + next.url + '">' + moment(next.date).format('dddd, Do MMM') + ' at ' + next.title + '</a>'
  d += '</div>'
  d += '</div>'

  $(d).appendTo('body')
}

</script>
