{% capture nowseconds %}{{ 'now' | date: '%s' }}{% endcapture %}

{% for gig in site.categories.gigs reversed %}
  {% capture gigseconds %}{{ gig.date | date: '%s' }}{% endcapture %}
  {% capture future %}{{ nowseconds | minus:gigseconds }}{% endcapture %}
  {% if future < '0' %}
    <div class="panel panel-info next-gig">
      <div class="panel-body">
        <div class="throbbing-gristle"></div>
        Next gig: <a href='{{ gig.url }}'>{{ gig.date | date: "%A %-d %B" }} at {{ gig.title }}</a>
      </div>
    </div>
    {% break %}
  {% endif %}
{% endfor %}
