{% capture description %}Raw Funk Maharishi: {{ site.data.attributes.straplines[0] }}{% endcapture %}
{% if page.gig_og %}
  {% capture title %}Raw Funk Maharishi LIVE at {{ page.title }}, {{ page.location | split:"," | first }} on {{ page.date | date_to_long_string }} at {{ page.time }}{% endcapture %}

  {% capture description %}Raw Funk Maharishi LIVE at {{ page.title }}, {{ page.location }} on {{ page.date | date_to_long_string }} at {{ page.time }}{% endcapture %}
{% else %}
  {% capture title %}Raw Funk Maharishi » {{ page.title }}{% endcapture %}
{% endif %}

{% assign og_site = 'http://rawfunkmaharishi.uk' %}
{% assign og_site_name = 'Raw Funk Maharishi' %}

<meta property="og:title" content="{{ title }}" />
<meta property="og:site_name" content="{{ og_site_name }}" />
<meta property="og:url" content="{{ og_site }}{{ page.url }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{ og_site }}/assets/images/logos/wide/header_green.png" />
