{% assign auto_play = false %}
{% assign hide_related = true %}
{% assign show_comments = false %}
{% assign show_user = false %}
{% assign show_reposts= false %}
{% assign visual = true %}

{% assign url = 'https://w.soundcloud.com/player/' %}

{% capture url %}{{ url | append:'?url=https%3A//api.soundcloud.com/tracks/' }}{% endcapture %}
{% capture url %}{{ url | append:include.id }}{% endcapture %}

{% capture url %}{{ url | append:'&amp;auto_play=' }}{% endcapture %}
{% capture url %}{{ url | append:auto_play }}{% endcapture %}

{% capture url %}{{ url | append:'&amp;hide_related=' }}{% endcapture %}
{% capture url %}{{ url | append:hide_related }}{% endcapture %}

{% capture url %}{{ url | append:'&amp;show_comments=' }}{% endcapture %}
{% capture url %}{{ url | append:show_comments }}{% endcapture %}

{% capture url %}{{ url | append:'&amp;show_user=' }}{% endcapture %}
{% capture url %}{{ url | append:show_user }}{% endcapture %}

{% capture url %}{{ url | append:'&amp;show_reposts=' }}{% endcapture %}
{% capture url %}{{ url | append:show_reposts }}{% endcapture %}

{% capture url %}{{ url | append:'&amp;visual=' }}{% endcapture %}
{% capture url %}{{ url | append:visual }}{% endcapture %}

<iframe class='embed-responsive-item' src='{{ url }}'></iframe>
