<!-- Modal -->
<div class='modal' id='new-album-modal' tabindex='-1' role='dialog' aria-labelledby='new-album-label' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <p class='album-news'>Check out our new album 'Takatsuka' on
          {% for outlet in site.data.albums.takatsuka.outlets %}
            <a href='{{ outlet.url }}'>{{ outlet.name }}</a>,
          {% endfor %}
          iTunes, BitTorrent and elsewhere
        </p>
        <img src='/assets/images/album-covers/takatsuka.jpg' />
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-warning' data-dismiss='modal' aria-label='Close'>
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#new-album-modal').modal('show')
</script>
