@import 'palettes/default';

$brand-primary: $rgba-primary-0;
$brand-complement: $rgba-complement-0;
$brand-secondary: $rgba-secondary-1-0;
//$brand-complement-2: $rgba-secondary-2-0;

$white: white;

$grey: rgb(127, 127, 127);
$light-grey: lighten($grey, 25%);
$dark-grey: darken($grey, 25%);

$opacity: 0.7;
