$footer-height: 50px;

html {
  position: relative;
  min-height: 100%;
  text-transform: none;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-transform: uppercase;

  margin-top: $padding-large-vertical;
  background-image: url('/assets/images/backgrounds/background.jpg');

  opacity: 1;
  color: white;
  height: $footer-height;

  padding: $padding-large-vertical $padding-large-horizontal;

  a {
    color: white;
  }

  a:hover {
    background: $rfm-orange;
    text-decoration: none;
  }
}
