.map {
  height: 300px;
}

.olControlAttribution {
  right: 5px;
  top: 280px;
  color: $rfm-orange;
  font-weight: bold;
  a {
    color: $rfm-dark-green;
  }
}

.giglist {
  padding-bottom: $padding-large-vertical;

  h2 {
    text-transform: uppercase;
  }

  .past-gigs {
    font-size: 1.2em;
  }

  .future-gigs {
    font-size: 2em;
  }
}

.gig {
  font-size: 1.5em;

  dt {
    color: $rfm-orange;
  }

  dd {
    padding-bottom: $padding-large-vertical;
  }
}
