.map {
  height: 300px;
}

.olControlAttribution {
  right: 5px;
  top: 280px;
  color: $rfm-orange;
  font-weight: bold;
  a {
    color: $rfm-dark-green;
  }
}

.giglist {
  padding-bottom: $padding-large-vertical;

  h2 {
    text-transform: uppercase;
  }

  .past-gigs {
    font-size: 1.2em;
  }

  .future-gigs {
    font-size: 1.3em;
  }
}

.gig {
  font-size: 1.5em;

  dt {
    color: $rfm-orange;
  }

  dd {
    padding-bottom: $padding-large-vertical;
  }
}


.next-gig, .new-album {
  position:absolute;
  bottom:12%;
  right:1%;
  font-size: 1em;
  background-color: $rfm-green;
  color: $rfm-orange;
  opacity: 0.7;
  margin: 0px;
  padding: 0px;
  text-align: right;
  max-width: 75%;

  a {
    color: black;
  }

  a:hover {
    background-color: $rfm-orange;
    color: $rfm-green;
    text-decoration: none;
  }
}

.new-album {
  bottom: 22%;
}

.map {
  font-family: $font-family-sans-serif;
}

.leaflet-container a {
  color: $rfm-green;
}
