$header-height: 270px;

.header {
  top: 0;
  width: 100%;

  background-image: url('/assets/images/backgrounds/background.jpg');
  height: $header-height;
  margin-top: 0px;
  margin-bottom: 20px;

  .logo {
    width: 100%;
    height: auto;
  }

  .little-logo {
    width: 80%;
    height: auto;
    position: relative;
    top: -200px;
  }

  .header-container {
    width: 100%;
  }
}
