$flickr-height: 240px;

.flickr {
  h1, h2, h3 {
    font-size: 1em;
    margin-top: 0px;
  }

  h2, h3 {
    font-size: 0.7em;
  }

  img {
    max-height: $flickr-height;
  }
}

.caption {
  h1, h2 {
    color: black;
  }
}

.band-member {
  h1, h2, h3 {
    margin-top: 0px;
  }

  h2, h3 {
    font-size: 0.7em;
  }

  .twitter {
    font-size: 1em;
    margin-top: -12px;
    text-transform: lowercase;
    text-align: center;
  }
}

.thumbnail {
  border: none;
}
