---
---

@import 'fonts';
@import 'bootstrap-custom';
@import 'bootstrap';

.page-header {
  padding-left: $padding-large-horizontal;
  margin-top: 0px;
  border: none;
  img {
    height: 260px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */

$footer-height: 40px;

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin-top: $padding-large-vertical;
  background: $brand-primary;
  color: white;
  height: $footer-height;

  padding: $padding-large-vertical $padding-large-horizontal;

  a {
    color: white;
  }
}

$header-height: 100px;

.header {
  top: 0;
  width: 100%;

  margin-top: $padding-large-vertical;
  background: $brand-primary;
  color: white;
  height: $header-height;

  padding: $padding-large-vertical $padding-large-horizontal;
  margin-top: 0px;

  a {
    color: white;
  }

  .logo {
    height: 85px;
    margin-bottom: $padding-large-vertical;
  }
}

img.thumb {
  max-height: 200px;
}

.caption {
  h3, p {
    color: $gray-dark;
  }

  h4 {
    color: $gray;
  }
}
