---
---

@import 'fonts';
@import 'bootstrap-custom';
@import 'bootstrap';

body {
  color: black;
}

h1 {
  color: $rfm-orange;
}

a {
  color: $rfm-green;
}
/* Sticky footer styles
-------------------------------------------------- */

$footer-height: 50px;

html {
  position: relative;
  min-height: 100%;
  text-transform: uppercase;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin-top: $padding-large-vertical;
  background: $brand-primary;
  opacity: 0.7;
  color: white;
  height: $footer-height;

  padding: $padding-large-vertical $padding-large-horizontal;

  a {
    color: white;
  }

  a:hover {
    background: $rfm-orange;
    text-decoration: none;
  }
}

/* End footer */

/* Header styles
-------------------------------------------------- */

$header-height: 250px;

.header {
  top: 0;
  width: 100%;

  background: $brand-primary;
  background-image: url('/assets/images/backgrounds/background.png');
  height: $header-height;
  margin-top: 0px;
  margin-bottom: 20px;

  .logo {
    width: 100%;
    height: auto;
  }

  p {
    text-transform: uppercase;
    text-align: right;
  }
}

/* End header */

/* Nav styles
-------------------------------------------------- */

.navbar {
   background-color: transparent;
   background: transparent;
   border: none;

  a {
    color: black;
  }

  ul {
    color: black;
    font-size: 1.5em;
    line-height: 10px;
    text-align: right;
  }
}

.nav {
  li {
    a:hover, a:focus {
      background-color: $rfm-orange;
    }
  }
}

/* End nav */

img.thumb {
  max-height: 200px;
}

.caption {
  h1, h2 {
    color: black;
  }
}

p {
  font-size: 1.5em;
  text-align: right;
}

.splash {
  width: 80%;
  height: auto;
}

p.splash{
  color: white;
}

.thumbnail {
  border: none;
}

.map {
  height: 300px;
}

.olControlAttribution {
  right: 5px;
  top: 280px;
  color: $gray-lighter;
  font-weight: bold;
}

.giglist {
  padding-bottom: $padding-large-vertical;
}

.gig-archive {
  h3 {
    font-size: 1em;
  }
}

.gig {
  font-size: 1.5em;
}

.mobile-logo {
  padding-top: $padding-large-vertical;
}

.attribution {
  font-size: 0.6em;
  background: $rfm-orange;
  a {
    color: $rfm-green;
  }
}
