<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include boilerplate.html %}
    {% include js-boilerplate.html %}

    <link rel='icon' type='image/png' href='/assets/favicon.ico' />
    <link rel='stylesheet' href='/assets/application.css' type='text/css' />
    <style>{{ page.extra_styles }}</style>
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% unless page.no_header %}
      {% include header.html %}
    {% endunless %}
    <div class='container'>
      {% unless page.no_title %}
        <h1 class='text-center'>{{ page.title }}</h1>
      {% endunless %}
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
