<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include boilerplate.html %}
    {% include js-boilerplate.html %}

    <link rel='icon' type='image/png' href='/assets/favicon.ico' />
    <link rel='stylesheet' href='/assets/application.css' type='text/css' />
    <style>{{ page.extra_styles }}</style>
    {% assign title = page.title %}
    {% if page.pretitle %}
      {% capture title %}{{ page.pretitle}} » {{ page.title }}{% endcapture %}
    {% endif %}
    <title>{{ title }}</title>
  </head>

  <body>
    {% unless page.no_header %}
      {% include header.html trim_class = page.trim_class %}
    {% endunless %}
    <div class='container'>
      {% unless page.no_title %}
        {% assign title = page.title %}
        {% if page.extra_title %}
          {% capture title %}{{ page.extra_title }} {{ title }}{% endcapture %}
        {% endif %}
        <h1 class='main-title'>{{ title }}</h1>
      {% endunless %}
      {{ content }}
      {% if page.license_these %}
        {% include license_note.html licensed = page.license_these version = page.license_version %}
      {% endif %}
    </div>
    {% include footer.html trim_class = page.trim_class %}
  </body>
</html>
