<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include boilerplate.html %}
    {% include js-boilerplate.html %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.15/leaflet-providers.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
    <link rel='icon' type='image/png' href='/assets/favicon.ico' />
    <link rel='stylesheet' href='/assets/application.css' type='text/css' />
    <style>{{ page.extra_styles }}</style>
    {% assign title = page.title %}
    {% if page.pretitle %}
      {% capture title %}{{ page.pretitle}} » {{ page.title }}{% endcapture %}
    {% endif %}
    <title>{{ title }}</title>

    {% include social.html %}

  </head>

  <body>
    {% unless page.no_header %}
      {% include header.html trim_class = page.trim_class %}
    {% endunless %}
    {% if page.with_nav %}
      {% include navigation.html %}
    {% endif %}
    <div class='container'>
      {% unless page.no_title %}
        {% assign title = page.title %}
        {% if page.extra_title %}
          {% capture title %}{{ page.extra_title }} {{ title }}{% endcapture %}
        {% endif %}
        <h1 class='main-title'>{{ title }}</h1>
      {% endunless %}
      {{ content }}
      {% if page.license_these %}
        {% include license_note.html licensed = page.license_these version = page.license_version %}
      {% endif %}
    </div>
    {% include footer.html trim_class = page.trim_class %}
  </body>
</html>
