---
layout: default
---

<div class='row'>
  <div class='col-md-5'>

    <dl class='dl-horizontal'>

      <dt>Date<dt>
      <dd>{{ page.date | date_to_long_string }}</dd>

      <dt>Time</dt>
      <dd>{{ page.time }}</dd>

      <dt>Location</dt>
      <dd>{{ page.location }}</dd>

      {% if page.facebook_id %}
        <dt>More info</dt>
        <dd><a href='https://facebook.com/events/{{ page.facebook_id }}/'>Facebook</a></dd>
      {% endif %}

    </dl>

  </div>

  <div class='col-md-7'>
    <div class='thumbnail'>
      <div class='embed-responsive embed-responsive-16by9'>
        <iframe frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='{{ page.osm_map }}'></iframe>
      </div>
      <div class='text-right'>
        <small><a href='{{ page.osm_link }}'>View larger map</a></small>
      </div>
    </div>
  </div>
</div>
