<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include boilerplate.html %}
    {% include js-boilerplate.html %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.15/leaflet-providers.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
    <link rel='icon' type='image/png' href='/assets/favicon.ico' />
    <link rel='stylesheet' href='/assets/application.css' type='text/css' />
    <link rel='stylesheet' href='/assets/naked.css' type='text/css' />
    {% assign title = page.title %}
    <title>{{ title }}</title>

    {% include social.html %}

  </head>

  <body>
    <div class='container'>
      {{ content }}
    </div>
  </body>
</html>
